* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    display: flex; 
    flex-direction: column; 
}
.name {
    background-color: grey;
}

.main_menu {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: flex-end;
    background-color: grey;
    padding-bottom: 5%;
}

.main_menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
   
}

.grid_item {
    position: relative; 
}

.comment {
    position: absolute; 
    bottom: 5px; 
    left: 5px; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 5px; 
    border-radius: 3px; 
    width: calc(100% - 10px); 
}


.main_grid img {
    width: 100%; 
    height: auto;
    display: block;
    object-fit: cover; 
}



body {
    background-color: whitesmoke;
}

.footer {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


@media (max-width: 1023px) {
    .main_grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 767px) {
    .main_grid {
        grid-template-columns: 1fr; 
    }

    .main_menu {
        flex-direction: column; 
    }
}
