* {
    margin: 0;
    padding: 0;
}

.name {
    background-color: grey;
}

.main_menu {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: flex-end;
    background-color: grey;
    padding-bottom: 5%;
}

.main_menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

body {
    background-color: whitesmoke;
}

@media (max-width: 1023px) {
    .main_menu {
        flex-direction: row;
    }
    .main_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .main_menu {
        flex-direction: column;
    }
    .main_grid {
        width: 100%;
        height: 60%;
        display: grid;
        border-radius: 2%;
    }
}

.footer {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    background-color: white;
    border-radius: 5px;
    border: solid 2px #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10% auto;
    padding: 2%;
    border: 2px solid #000;
    max-width: 60%;
    background-color: white;
    border-radius: 5px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 96%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 15px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: darkblue;
}
