
* {
    margin: 0;
    padding: 0;
}
.name{
    background-color: grey;
}
.main_menu{
    display: flex;
    flex-direction:row;
    gap: 5%;
    justify-content: flex-end;
    background-color: grey;
    padding-bottom: 5%;
}
.main_menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.main_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 20px; 
}

.grid_item {
    position: relative; 
}

.main_grid img {
    width: 100%; 
    height: auto;
    display: block; 
    object-fit: cover; 
}



body {
    background-color: whitesmoke;
}
@media (max-width: 1023px){
    .main_menu{
        flex-direction: row;

    }
    .main_grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px){
    .main_menu{
        flex-direction: column;
        
    }
    .main_grid{
        width: 100%;
        height: 60%;
        display: grid;
        border-radius: 2%;
    }
}

body{
    background-color: whitesmoke;
}
.footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;

}
